body {
  background: #fffcf2;
  margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #64b32d;
}

.logo{
  font-family: 'Anton';
  font-size: 25px;
}

.site-header .navbar-nav .nav-link {
  font-family: 'Anton';
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #db2e2e;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.text-muted{
  font-family: Arial, Helvetica, sans-serif;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  font-family: 'Anton';
  color: #ff4d6a;
}

.article-title:hover {
  color: #ff0000;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  font-family: 'Anton';
}

.article-metadata :hover {
  color: #000099;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  width: 125px;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  border-radius: 50%;
  display: block;
}

.account-heading {
  font-size: 2.5rem;
}

.test:after {
  font-family: arial;
  content: '\2807';
  font-size: 1em;
  color: #2e2e2e
}

.dotsbtn{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;
}

.anton{
  color: #fa3940;
  font-family: 'Anton';
  font-size: 2em;
}

.recipe-font{
  font-size:1.5em;
  font-family: 'Anton';
  color: #464a4a;
}

.search-form{
  max-width: 350px;
  width: 100%
}

.underline{
  border-bottom: 1px solid #e3e3e3;
}

.arial-gray{
  font-size:0.8em;
  font-family: 'arial';
  color: gray;
}

.post-image{
}
