body {
  background: #fffcf2;
  margin-top: 5rem;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #99ddff;
}

.logo{
  font-family: 'Anton';
  font-size: 28px;

  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.site-header .navbar-nav .nav-link {
  font-family: 'Anton';
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffc107;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.text-muted{
  font-family: Arial, Helvetica, sans-serif;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  font-family: 'Anton';
  color: #ff4d6a;
}

.article-title:hover {
  color: #ff0000;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
  font-family: 'Anton';
}

.article-metadata :hover {
  color: #000099;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  width: 125px;
  height: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
  border-radius: 50%;
  display: block;
}

.account-heading {
  font-size: 2.5rem;
}

.test:after {
  font-family: arial;
  content: '\2807';
  font-size: 1em;
  color: #2e2e2e
}

.dotsbtn{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  outline:none;
}

.anton{
  color: #fa3940;
  font-family: 'Anton';
  font-size: 2em;
}

.anton-font{
  font-family: 'Anton';
  font-size: 1.2em
}

.recipe-font{
  font-size:1.5em;
  font-family: 'Anton';
  color: #464a4a;
}

.search-form{
  max-width: 200px;
  width: 100%
}

.underline{
  border-bottom: 1px solid #e3e3e3;
}

.arial-gray{
  font-size:0.8em;
  font-family: 'arial';
  color: gray;
}

.post-image{
  max-height: 400px;
  width: 100%;
}

.feed-image{
  max-height: 350px;

}

.small-text{
  font-size: 0.9em;
}

.position-sticky{
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  height: 100%;
  overflow-x: hidden; /* Disable horizontal scroll */
}


.comment-wrapper .panel-body {
    max-height:650px;
}

.comment-wrapper .media-list .media {
    border-bottom:1px #efefef;
    margin-bottom:25px;
}

.lightblue{
  color: #81beca;
}
.loginBackgroundPic{
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.459);
}

.backgroundContainer{
    position: static;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
.loginBox{
    width: 500px;
    height: 535px;
    margin: auto;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.219), 4px 0 8px 0 rgba(0, 0, 0, 0.212);
}
