{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <div class="content-section">
    <div class="text-wrap media">
      <img class="rounded-circle account-img mt-4" src="{{ user.profile.image.url }}">

      <div class="media-body">
        <a class="text-muted float-right" href="{% url 'update-profile'%}"> Update </a>
        <h2 class="account-heading mt-4 anton">{{ user.first_name }} {{ user.last_name }}</h2>
        <div class="text-break text-justify text-muted mb-2">
          <strong>
            Username:
          </strong>
          {{ user.username }}
        </div>
        <div class="text-break text-justify text-muted mb-2">
          <strong>
            Email:
          </strong>
          {{ user.email }}
        </div>
        <div class="text-break text-justify text-muted mt-2 mb-4"><strong>Bios:</strong> <br>{{ user.profile.bio }}</div>
      </div>
    </div>
  </div>

{% endblock content %}
