{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if title %}
      <title>Tastie! - {{ title }} </title>
    {% else %}
      <title>Tastie!</title>
    {% endif %}
    {{ form.media }}
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
  <body>

    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="logo navbar-brand mr-4" href="/"> TASTIE! </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Feed</a>
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'user-posts' user.username %}">My Recipes</a>
                <a class="nav-item nav-link" href="{% url 'favourites' user.username %}">Favourites</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">My Recipes</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Favourites</a>
              {% endif %}

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container ">
      <div class="row">
        <div class="col-md-8 mt-2">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>

        <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mt-2 ">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <span class="text-muted">Search for the recipe, user or tag you want!</span>
            <div class="input-group mt-3">
              <form class="search-form" action="{% url 'search-results' %}" method="get">
                <input type="text" name="q" id="id_q" class="form-control" placeholder="Search">
              </form>
            </div>
          </div>
        </div>

        <!-- Create Button -->
        <div class="d-block">
          <a class="btn btn-success btn-lg btn-block mt-4 mb-4" name="button" href="{% url 'post-create' %}">Post Recipe!</a>
        </div>


      </div>
      </div>
    </main>

    <script>
      document.getElementById('id_q').value = '{{ query }}'
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
