{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <div class="infinite-container">
    {% for post in posts %}
      <div class="infinite-item">
        <div class="card mb-4">
          <div class="media m-0 mt-3">
        	  <div class="d-flex mr-3">
        			<a href="{% url 'user-posts' post.author.username %}"><img class="rounded-circle article-img ml-4 mr-1"src="{{ post.author.profile.image.url }}" alt="Profile Pic"></a>
        		</div>
        		<div class="media-body">
        		  <p class="text-info m-0 mt-2 anton-font"><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></p>
        		  <span class="text-muted small-text">Posted: {{ post.date_posted|date:"d/m/Y G:i" }}</span>
        	  </div>
          </div>
          <hr>
          <div class="card-body">
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="lead text-muted text-justify small-text mt-2 mb-3">Description: {{post.content}}</p>
            <a href="{% url 'post-detail' post.id %}"><img class="card-img-top rounded mt-2 mb-3" src="{{ post.image.url }}" alt="Card image cap"></a>
            <a href="{% url 'post-detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>





  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
  {% endif %}

  <script src="{% static 'blog/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/js/infinite.min.js' %}"></script>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
    });
  </script>

{% endblock content %}
