{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="content-section">
  <div class="media">
    {% for post in posts|slice:":1" %}
      <img class="rounded-circle account-img mb-4 mt-3" src="{{ post.author.profile.image.url }}">

      <div class="media-body mt-3">
        <strong class="mt-8 anton">{{ view.kwargs.username }}</strong>
        <strong class="recipe-font">Recipes!</strong>
        <p class="text-muted mb-3 ">{{ page_obj.paginator.count }} recipe(s) shared!</p>
        <div class=" text-justify text-muted  mb-4 mr-4"><strong>Bios:</strong> <br>{{  post.author.profile.bio }}</div>
      </div>
  </div>


  {% endfor %}

  <div class="anton mb-3 ml-1 underline">
    Recipes:
  </div>
  <div class="infinite-container">
    {% for post in posts %}
      <div class="infinite-item">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"d/m/Y G:i" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
          </div>
        </article>
      </div>
    {% endfor %}
  </div>
</div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
  {% endif %}

  <script src="{% static 'blog/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'blog/js/infinite.min.js' %}"></script>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
    });
  </script>

{% endblock content %}
